<div class="flex justify-between items-center">
  <%= link_to root_path do %>
    <%= image_tag '/idol.png', alt: 'logo', class: 'h-32 lg:h-40' %>
  <% end %>
  <h1 class="max-sm:text-1xl text-4xl font-bold text-center">Menu</h1>
  <%= link_to root_path do %>
    <%= image_tag '/idol.png', alt: 'logo', class: 'h-32 lg:h-40' %>
  <% end %>
</div>
<div class="flex items-center justify-center">
  <%= render 'locale' %>
</div>

<main class="container mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= form_with(model: @order) do |form| %>
      <% if @order && @order.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% @order.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @order.present? %>
        <div class="p-5">
          <%= form.label :table, 'Table number' %>
          <%= form.number_field :table, class: 'form-control', required: true, min: 1, max: 20 %>
        </div>
        <%= form.hidden_field :restaurant_id %>
      <% end %>

      <!-- MENU ITEMS -->
      <% @restaurant.menu_categories.includes(items: :options).each do |category| %>
        <%= render 'category', category: category %>
      <% end %>
      <!-- MENU ITEMS -->

    <% if @order.present? %>
      <div class="inline p-5">
        <%= form.submit "Create order", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>
  <% end %>
</main>

<!-- Add this JavaScript code at the bottom of the same view or create a separate JS file -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const quantityControls = document.querySelectorAll(".quantity-control");
    const quantities = document.querySelectorAll(".quantity");

    quantityControls.forEach((control) => {
      control.addEventListener("click", function () {
        const action = this.dataset.action;
        const itemId = this.dataset.itemId;
        const quantityElement = document.querySelector(`.quantity[data-item-id="${itemId}"]`);
        let quantity = parseInt(quantityElement.textContent, 10);

        if (action === "plus") {
          quantity += 1;
        } else if (action === "minus") {
          if (quantity > 0) {
            quantity -= 1;
          }
        }

        quantityElement.textContent = quantity;
        document.querySelector(`input[name="order[order_items_attributes][${itemId}][quantity]"]`).value = quantity;
      });
    });
  });
</script>
