<!-- Add your site or application content here -->
<header @keydown.escape="isOpen = false"
        class="relative flex h-screen w-full overflow-hidden"
        x-data="{ isOpen: false }">
  <!-- Navbar -->
  <nav
    class="relative z-20 top-0 right-0 w-full inline-block px-10 pt-5 text-2xl text-white">
    <div class="flex justify-between items-center">
      <%= link_to root_path do %>
        <%= image_tag '/idol.png', alt: 'logo', class: 'h-32 lg:h-40' %>
      <% end %>
      <div class="hidden lg:block">
        <ul class="flex">
          <li class="px-4 py-4">
            <a class="tracking-widest" href="/menu/tbilisi">MENU</a>
          </li>
          <li class="px-4 py-4">
            <a class="tracking-widest" href="https://ig.me/m/soupercafe_tbilisi" target="_blank">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="w-full h-full z-50 lg:hidden lg:flex lg:items-center lg:w-auto text-right"
    >
      <ul
        class="lg:pt-0 list-reset lg:flex justify-start flex-1 items-center"
      >
        <li class="mr-3">
          <a
            class="inline-block text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
            href="/menu/tbilisi"
          >
            MENU
          </a>
        </li>
        <li class="mr-3">
          <a 
          class="inline-block text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
          href="https://ig.me/m/soupercafe_tbilisi" target="_blank"
          >
            CONTACT
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Background Element -->
  <div class="absolute bg-cover bg-center z-10 w-full h-full object-cover" style="background-image: url('<%= image_path("/pho.svg") %>')">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="max-sm:pl-4 max-sm:pt-32 flex items-center justify-center h-full">
      <h1 class="text-white max-sm:text-7xl text-8xl -mt-24 font-bold z-10">Souper Cafe</h1>
    </div>
  </div>

</header>

<!-- End of header -->

<!-- Main content -->

<main class="container mx-auto">
  <section class="py-20">
    <div class="flex flex-wrap md:flex-nowrap p-5">
      <div class="flex items-center justify-center p-5 mx-auto w-full lg:w-1/2">
        <%= image_tag '/photos/chicken.jpeg', alt: 'menu image' %>
      </div>
      <div class="flex flex-col p-5 items-center text-center justify-center w-full lg:w-1/2">
        <h2 class="text-4xl tracking-widest uppercase pb-5" data-scroll>Discover our menu</h2>
        <p class="text-2xl mb-12 p-5" data-scroll>
          Embark on a culinary journey that transcends continents. Our menu is a passport to flavor, transporting you from the bustling streets of Tbilisi to the vibrant markets of ocean islands. Discover a world of tastes, thoughtfully crafted to tantalize your senses.
        </p>
        <button class="px-3 py-4">
          <a
            class="px-3 py-4 bg-black text-white font-sans uppercase tracking-widest border hover:text-black hover:bg-white hover:border-black transition duration-300"
            href="/menu/tbilisi">Go to menu</a>
        </button>
      </div>
    </div>
  </section>
  <section class="py-10">
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 divide-y-0">
      <div class="flex flex-col items-center justify-center mb-4 lg:mb-0">
        <%= image_tag '/photos/food.jpeg', alt: 'food', class: 'h-64 m-5' %>
        <h2 class="font-sans text-3xl tracking-widest uppercase mb-2">Eat</h2>
        <div class="px-20 text-center">
          <p> 
            Indulge in the heartwarming embrace of our soups that bring comfort to every spoonful. Each bowl is a symphony of aromatic spices, fresh ingredients, and time-honored techniques.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center mb-4 lg:mb-0">
        <%= image_tag '/photos/cocktail2.jpeg', alt: 'cocktail', class: 'h-64 m-5' %>
        <h2 class="font-sans text-3xl tracking-widest uppercase mb-2">Drink</h2>
        <div class="px-20 text-center">
          <p>
            Dive into the extraordinary with our tiki-inspired cocktail creations. Sip on exotic concoctions that transport you to pristine beaches and lush jungles. Unwind, raise your glass, and let the adventure unfold.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center mb-4 lg:mb-0">
        <%= image_tag '/photos/bar.jpeg', alt: 'cocktail', class: 'h-64 m-5' %>
        <h2 class="font-sans text-3xl tracking-widest uppercase mb-2">Chill</h2>
        <div class="px-20 text-center">
          <p>
            Step into a realm of relaxation and rejuvenation that goes beyond food and drink. Souper Cafe is more than just a place to eat; it's a sanctuary for unwinding and connecting. 
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20">
    <div class="flex flex-wrap md:flex-nowrap w-full p-5">
      <div class="flex flex-col p-5 items-center text-center justify-center w-full lg:w-1/2">
        <h2 class="text-4xl tracking-widest uppercase pb-5">Only GOOD vibes</h2>
        <p class="text-2xl mb-12 text-center">
          We curate an atmosphere that resonates with positivity and warmth. Our passion for food, culture, and people creates an environment where every guest feels like family. Join us to experience the crossroads of Georgia and Sri Lanka, where flavors, vibes, and memories harmoniously blend.
        </p>
      </div>
      <div class="flex items-center justify-center p-5 mx-auto w-full lg:w-1/2">
        <%= image_tag '/photos/cocktail1.jpeg' %>
      </div>
    </div>
  </section>
  <section class="my-20 bg-fixed bg-center object-contain overflow-x-visible w-full"
           style="background-image: url('/photos/sunset.jpg')">
    <div class="container px-4 mx-auto">
      <div class="pt-20 pb-24 px-8 md:px-16 rounded "
      ">
      <div class="flex flex-wrap -mx-8 text-white">
        <div class="w-full lg:w-1/2 px-8 flex">
          <div class="my-auto ">
            <h2 class="text-3xl lg:text-4xl font-semibold uppercase">Pay us a visit :</h2>
            <p class="mt-2 leading-loose font-sans uppercase tracking-wide font-bold">Souper Cafe</p>
            <p class="mt-2 mb-6 leading-loose">24 Tamar Chovelidze St, Tbilisi 0108, Georgia</p>
            <h2 class="text-3xl lg:text-4xl font-semibold uppercase">Call us :</h2>
            <p class="mt-2 mb-6 leading-loose">
              <%= t('phone') %>
            </p>
            <div class="max-sm:items-center text-center">
            <a
              class="inline-block py-4 px-8 text-xs border max-sm:w-full bg-black text-white uppercase tracking-widest font-semibold leading-none hover:bg-white hover:border-white hover:text-black rounded-none transition duration-300"
              href="https://wolt.com/en/geo/tbilisi/restaurant/souper-kitchen-bar">Order with Wolt</a>
            <a
              class="inline-block py-4 px-8 max-sm:mt-4 max-sm:w-full sm:ml-2 text-xs border bg-black text-white uppercase tracking-widest font-semibold leading-none hover:bg-white hover:border-white hover:text-black rounded-none transition duration-300"
              href="https://glovoapp.com/ge/en/tbilisi/tiki-bar-tbi/">Order with Glovo</a>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-8 mt-12 lg:mt-0">
          <div class="embed-responsive aspect-ratio-4/3">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=24%20Tamar%20Chovelidze%20St,%20Tbilisi%200108,%20Georgia+(Souper%20Tiki%20cafe&amp;bar)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/"></a></iframe>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>
<footer class="container mx-auto">
  <div class="flex flex-wrap-reverse lg:flex-nowrap items-center justify-center lg:justify-between">
    <div class="flex justify-center items-center w-full lg:w-1/4">
      <%= image_tag '/idol.png', alt: 'logo', class: 'max-sm:h-48 h-60 ml-6' %>
    </div>
    <div class="md:flex md:justify-center h-64 w-full ml-10 lg:-ml-0 lg:w-1/4">
      <ul>
        <li class="font-sans text-2xl font-bold tracking-wide pb-4">FIND US</li>
        <li class="font-sans font-bold text-lg py-2">Address:</li>
        <li>24 Tamar Chovelidze St, Tbilisi 0108, Georgia</li>
        <li class="font-sans font-bold text-lg py-2">Phone:</li>
        <li>
          <%= t('phone') %>
        </li>
      </ul>
    </div>
    <div class="md:flex md:justify-center h-64 w-full ml-10 lg:-ml-0 lg:w-1/4">
      <ul>
        <li class="font-sans text-2xl font-bold tracking-wide pb-4">SOCIAL</li>
        <li class="font-sans font-bold text-lg py-2">Find us on social</li>
        <li><a href="https://www.instagram.com/soupercafe_tbilisi">instagram</a> • <a href="https://www.tripadvisor.com/Restaurant_Review-g294195-d26628896-Reviews-Souper_Tiki-Tbilisi.html">tripadvisor</a></li>
        <li class="font-sans font-bold text-lg py-2">Leave us a review</li>
        <li><a href="https://goo.gl/maps/1neLffbzRFwQhR72A">google</a> • <a href="https://yandex.ru/maps/-/C-WUVps">yandex</a></li>
      </ul>
    </div>
  </div>
<div class="flex justify-center items-center py-2">
  <p class="text-sm mb-4">
    <a href="https://ilyalebe.dev" class="text-gray-600 hover:text-gray-900 transition-colors duration-300 ease-in-out">
      Crafted with ❤ by <span class="font-bold">ilyalebe.dev</span>
    </a>
  </p>
</div>
</footer>


