<!DOCTYPE html>
<html>
  <head>
    <title>Souper Kitchen & Bar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Welcome to Souper Kitchen & Bar, Tbilisi's premier destination for authentic Asian soups. Indulge in our flavorful pho-bo and tom-yam creations, expertly crafted to tantalize your taste buds. Experience a culinary journey like no other in the heart of Georgia. Visit us today for an unforgettable dining experience!">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
